[submodule "MoviesAppBackend"]
	path = MoviesAppBackend
	url = https://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@github.com/YassYassId/MoviesAppBackend.git
